{% extends 'base.html' %}

{% block title %}Question {{number}}/{{amount}}{% endblock %}

{% block content %}

    <form action="/answer" method="POST">
        <h1>{{question.question}}</h1>
        <i>Question {{number}} of {{amount}}</i>
        <ul class="choices">
            {% for choice in question.choices %}
            <li><input type="radio" name="answer" value="{{choice}}" required>{{choice}}</li>
            {% endfor %}
        </ul>
        <button>Submit</button>
    </form>

{% endblock %}